@using NF.Common.Utility;
@using NF.ViewModel.Models;
@using NF.Model.Models;
@model APPWFLayPageInfo<ContActualFinanceListViewDTO>
@{
    ViewData["Title"] = "FukuanDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head runat="server">
    <title>付款审批</title>
    <link href="~/css/DetailsPage.css" type="text/css" rel="stylesheet" />
    <meta name="format-detection" content="telephone=no" />
</head>
<body>
    <form id="form1" runat="server">
        <div class="TopTitle">
            <h1 style="text-align: center;"><strong style="border-bottom-style: double; border-color: red">付 款 审 批</strong></h1>
        </div>
        @*付款信息*@
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td colspan="4" class="TopTb">付款信息</td>
            </tr>
            <tr>
                <td class="ConInfoId" id="contractNameTD">合同名称</td>
                <td colspan="3">@Model.WFInstanceList[0].ContName</td>
            </tr>
            <tr>
                <td class="ConInfoId">合同编号</td>
                <td class="ConInfoText">@Model.WFInstanceList[0].ContCode</td>
                <td class="ConInfoId">合同类别</td>
                <td class="ConInfoText">@Model.WFInstanceList[0].ContCategoryName</td>
            </tr>
            <tr>
                <td class="ConInfoId" id="contractNameTD">付款对方</td>
                <td colspan="3">@Model.WFInstanceList[0].CompName</td>
            </tr>
            <tr>
                <td class="ConInfoId">开户银行</td>
                <td class="ConInfoText">@Model.WFInstanceList[0].Bank</td>
                <td class="ConInfoId">账号</td>
                <td class="ConInfoText">@Model.WFInstanceList[0].Account</td>
            </tr>
            <tr>
                <td class="ConInfoId">付款金额</td>
                <td class="ConInfoText">@Model.WFInstanceList[0].AmountMoneyThod</td>
                <td class="ConInfoId">结算方式</td>
                <td class="ConInfoText">@Model.WFInstanceList[0].SettlementMethodDic</td>
            </tr>
            <tr>
                <td class="ConInfoId">创建人</td>
                <td class="ConInfoText">@Model.WFInstanceList[0].CreateUserName</td>
                <td class="ConInfoId">创建时间</td>
                <td class="ConInfoText">@Model.WFInstanceList[0].CreateDateTime</td>
            </tr>
        </table>
        <br />
        @{
            Html.RenderPartial("_ShenpiDetails");
        }
    </form>
</body>
</html>

